VITE_SUPABASE_URL=https://htbhpkqadhdepejtjfay.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh0Ymhwa3FhZGhkZXBlanRqZmF5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2NjMyOTMsImV4cCI6MjA5MDIzOTI5M30.CmwQkUMJdhimDjI3vwMyUCzl1Fs8z9IXfRz4wae8b4U
